body {
    font-family: "Lucida Console", "Courier New", monospace;
}

.title {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 30px;
}

.subtitle {
    font-weight: bold;
    color: gray;
    font-size: 24px;
}

.project {

    background: #e3f4ff;
    text-align: center;
    width: 200px;
    padding-top: 10px;
    font-size: 18px;

}

.description {

    background: #e3f4ff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 200px;
    color: gray;
    font-size: 14px;
}
